<h2>
  <small class="pull-right">
    <a href="/reviews" title="RSS feed of my reviews" target="_blank">
      <span class="sr-only">RSS feed</span>
      <span class="fa fa-rss"></span>
    </a>
  </small>
  Some books I’ve read
</h2>

<div id="bookTableContainer" class="dynamically-hidden">
  <table id="bookTable" class="table table-striped table-hover">
    <thead>
    <tr>
      <th class="title-col">Title</th>
      <th class="author-col">Author(s)</th>
      <th class="series-col">Series/volume</th>
      <th class="rating-col">Rating</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td class="title-col">
        <input class="form-control" type="text" placeholder="Filter by title"/>
      </td>
      <td class="author-col">
        <input class="form-control" type="text" placeholder="Filter by author"/>
      </td>
      <td class="series-col">
        <input class="form-control" type="text" placeholder="Filter by series"/>
      </td>
      <td class="rating-col">
        <input type="hidden" class="dummy"/>
      </td>
    </tr>
    </tfoot>
    <tbody>
    {{#each book_data~}}
      <tr>
        {{~../_~}}

        <td data-order="{{#if english_title}}{{ english_title }} {{~^~}} {{ title }} {{~/if}}">
          {{~../_~}}
          <ul class="list-unstyled">
            {{~#if english_title~}}
              <li><a href="/books/{{ id }}">{{ english_title }}</a></li>{{~../_~}}
              <li class="text-muted">{{ title }}</li>
            {{~^~}}
              <li><a href="/books/{{id}}">{{title}}</a></li>
            {{~/if~}}
          </ul>
          {{~../_~}}
        </td>
        {{~../_~}}

        <td data-order="{{authors.length}}{{#each authors}} {{~name~}} {{/each}}">{{~../_~}}
          <ul class="list-unstyled">
            {{~#authors ~}}
              <li><a href="javascript:void(0)">{{name}}</a></li>
            {{~/authors ~}}
          </ul>{{~../_~}}
        </td>
        {{~../_~}}

        <td data-order="{{#if volume}} {{~series_title~}} {{volume}}{{/if}}">
          {{~#if volume~}}
            <a href="javascript:void(0)">{{series_title}}</a> {{volume~}}
          {{~/if~}}
        </td>
        {{~../_~}}

        <td data-order="{{#rating}}rating{{/rating}}{{^rating}}-1{{/rating}}">{{~../_~}}
          <span class="pull-right">
            {{~#if has_review~}}
            <a href="/books/{{id}}" class="fa fa-comment" title="Read review"></a>
            {{~/if~}}
          </span>
          {{~../_~}}
        </td>

        {{~../_~}}
      </tr>
    {{~/each}}
    </tbody>
  </table>
</div>
