<div data-ui-view>
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
    <div class="col-md-12 col-sm-12" id="gallery-container">
      {{#each gallery as |img_info|}}
        <div class="piece">
          <a href="/gallery/picture/{{img_info.filename}}"
             data-ui-sref="gallery.picture({filename:'{{ img_info.filename }}'})">
            <img src="{{staticRoot}}{{img_info.thumbnail}}"
                 alt="Thumbnail: {{img_info.title}}"
                 class="thumb" />
          </a>
          <br />
          <em>{{img_info.title}}</em>
        </div>
      {{/each}}
    </div>
      </div>
  </div>
</div>
