<div data-ui-view>
  <div class="col-md-8 col-md-offset-2">
    {{#each matrix as |img_row|}}
    <div class="row">
      {{#each img_row as |img_info|}}
      <div class="col-md-3 col-sm-6">
        <p style="text-align:center;">
          <a href="/gallery/picture/{{img_info.filename}}"
             data-ui-sref="gallery.picture({filename:'{{ img_info.filename }}'})">
            <img src="{{img_info.thumbnail}}"
                 alt="Thumbnail: {{img_info.title}}"
                 class="thumb" />
          </a>
          <br />
          <em>{{img_info.title}}</em>
        </p>
      </div>
      {{/each}}
    </div>
    {{/each}}
  </div>
</div>
