<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>petterhaggholm.net</title>
  <meta name="author" content="Petter Häggholm" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="prefetch" href="/assets/fontawesome-webfont.woff2?v={{fontAwesomeVersion}}" />
  <link rel="prefetch" href="{{appEntry}}" />
  <link rel="prefetch" href="//piwik.petterhaggholm.net/piwik.js" />
  <link rel="prefetch" href="https://platform.twitter.com/widgets.js" />
  <link rel="shortcut icon" type="image/png" href="/img/eye-16.png" />
  <link rel="stylesheet" href="/assets/index.css" />

  <script>
      (function () {
          // http://www.phpied.com/dynamic-script-and-style-elements-in-ie/
          window.addCSS = function (css) {
              var ss1 = document.createElement('style');
              ss1.setAttribute('type', 'text/css');
              var hh1 = document.getElementsByTagName('head')[0];
              hh1.appendChild(ss1);
              if (ss1.styleSheet) {   // IE
                  ss1.styleSheet.cssText = css;
              } else {                // the world
                  var tt1 = document.createTextNode(css);
                  ss1.appendChild(tt1);
              }
          };

          window.addCSS('.dynamically-hidden { display: none; }');
    })();
  </script>
</head>

<body>
<nav class="navbar navbar-inverse" role="navigation" id="navigation">{{{nav}}}</nav>
<main>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 ui-view-container">
      <div class="row" id="main" role="main">{{{content}}}</div>
    </div>
    <div class="col-md-2 col-md-offset-1" id="twitter-embed">
      <div class="col-md-11">
        <h5 class="center-block">
          <a href="https://twitter.com/haggholm">@haggholm | Twitter <span class="fa fa-twitter"></span></a>
        </h5>
        <a class="twitter-timeline"
           href="https://twitter.com/haggholm"
           data-widget-id="442835427716632576"
           data-chrome="noheader transparent">Tweets by @haggholm</a>
      </div>
    </div>
  </div>
</main>

<script async src="{{appEntry}}"></script>
<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p='https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
<script>
  if (/petterhaggholm\.net/i.test(document.domain)) {
    var _paq = _paq || [];
    (function(){
      var u=(("https:" == document.location.protocol) ?
        "https://piwik.petterhaggholm.net/" :
        "http://piwik.petterhaggholm.net/");
      _paq.push(['setSiteId', 1]);
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      var d=document,
        g=d.createElement('script'),
        s=d.getElementsByTagName('script')[0];
      g.type='text/javascript';
      g.async=true;
      g.src=u+'piwik.js';
      s.parentNode.insertBefore(g,s);
    })();
  }
</script>
<noscript>
  <img src="http://piwik.petterhaggholm.net/piwik.php?idsite=1" style="border:0" alt="" />
</noscript>
</body>
</html>
