<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>petterhaggholm.net</title>
  <meta name="author" content="Petter Häggholm"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <meta name="twitter:dnt" content="on"/>
  <meta name="twitter:widgets:csp" content="on"/>

  <link rel="prefetch" href="/assets/fontawesome-webfont.woff2?v={{fontAwesomeVersion}}" />
  <link rel="prefetch" href="{{appEntry}}" />
  <link rel="prefetch" href="https://platform.twitter.com/widgets.js" />
  <link rel="prefetch" href="https://www.google-analytics.com/analytics.js" />

  <link rel="shortcut icon" type="image/png" href="/img/eye-16.png" />
  <link rel="stylesheet" href="/assets/index.css" />
  <link rel="alternate" type="application/rss+xml"
        href="/reviews" title="Book reviews" />

  <script>
    (function(w, d, ss, ap) {
      w.phnetConfig={{{phnetConfig}}};

      (function(css) {
        var ss1 = d.createElement('style'), hh1 = d.getElementsByTagName('head')[0];
        ss1.setAttribute('type', 'text/css');
        hh1[ap](ss1);
        if (ss1[ss]) {
          ss1[ss].cssText = css;
        } else {
          var tt1 = d.createTextNode(css);
          ss1[ap](tt1);
        }
      })('.dynamically-hidden{display:none;}');
    })(window, document, 'styleSheet', 'appendChild');
  </script>
</head>

<body>
<nav class="navbar navbar-inverse" role="navigation" id="navigation">{{{nav}}}</nav>
<main class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 ui-view-container">
      <div class="row" id="main" role="main">{{{content}}}</div>
    </div>
    <div class="col-md-2 col-md-offset-1" id="twitter-embed">
      <div class="col-md-11">
        <h5 class="center-block">
          <a href="https://twitter.com/haggholm">@haggholm | Twitter <span class="fa fa-twitter"></span></a>
        </h5>
        <a class="twitter-timeline"
           href="https://twitter.com/haggholm"
           data-widget-id="442835427716632576"
           data-chrome="noheader transparent">Tweets by @haggholm</a>
      </div>
    </div>
  </div>
</main>

<script async src="{{appEntry}}"></script>
<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p='https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
</body>
</html>
